body{
	height: 100%;
	font-family: 'Times New Roman', sans-serif;
  background-image: url(../images/mapamero.jpg);
	background-size: cover;
  background-attachment: fixed;
}

header{
	background: linear-gradient(135deg, black 70%, gray 85%, white);
	text-align: center;
	color: white;
	margin-top: 0em;
	font-size: 1.5rem;

}

#navegap {
  background: gray;
  font-family: 'Combo', serif;
  font-size: 1em;
	height: 2em;
	padding-top: .125em;
	padding-bottom: .125em;
}

#navegap ul li{
  list-style: none;
  display: inline;
}

#navegap ul{
	text-align: right;
}

#navegap a{
  padding: 0.25em;
  text-decoration: none;
}

#navegap a:link{
  font-weight: bold;
  color: rgb(1,179,215);
}

#navegap a:visited{
  color: rgb(187, 120, 255);

}

#navegap a:hover{
  background-color: rgb(255, 255, 204);
}


#formulario{
	width: 30%;
  height: auto;
  margin: 10% 33% auto 33%;
	border-radius: 10px;
	padding-top: 30px;
	padding-bottom: 20px;
  background-color: #fbfbfb;
  padding-left: 30px;
}


input{
	background-color: #fbfbfb;
	width: 25em;
	height: 2.25em;
	border-radius: 5px;
	border-style: solid;
	border-width: 1px;
	border-color: #ab4493;
	margin-top: 1em;
	padding-left: 1em;
  margin-bottom: 1.25em;
}


textarea{
  background-color: #fbfbfb;
	width: 25em;
	height: 8em;
	border-radius: 5px;
	border-style: solid;
	border-width: 1px;
	border-color: #ab4493;
	margin-top: 10px;
	padding-left: 10px;
  margin-bottom: 20px;
  padding-top: 15px;
}


label{
  display: block;
	float: center;
}


button{
	height: 2.5em;
	padding-left: .5em;
	padding-right: .5em;
	margin-bottom: 1.25rem;
	margin-top: .5em;
	align-content: center;
	background-color: #ab4493;
	border-color: #ab4493;
	border-style: solid;
	border-radius: .5rem;
	width: 10em;
  cursor: pointer;
}


button p{
	color: #fff;
}


span{
	color: #ab4493;
}


.aviso{
	font-size: 13px;
	color: #0e0e0e;
}


#formulario h1{
	font-size: 39px;
	text-align: letf;
	padding-bottom: 20px;
	color: #ab4493;
}


h3{
	font-size: 16px;
	padding-bottom: 30px;
	color: #0e0e0e;
}


p{
	font-size: 14px;
	color: #0e0e0e;
}


::-webkit-input-placeholder {
 color: #a8a8a8;
}


::-webkit-textarea-placeholder {
 color: #a8a8a8;
}


#formulario input:focus{
	outline:0;
	border: 1px solid #97d848;
}


#formulario textarea:focus{
	outline:0;
	border: 1px solid #97d848;
}
